* {
  margin: 0;
  font-style: normal;
}

a {
  text-decoration: none;
}

body {
  overflow-x: hidden;
}

.background_header {
  z-index: -100;
  top: 0;
  position: absolute;
  width: 100vw;
  height: 33.01vw;
}

.submenu .open {
  display: none;
}

.submenu :hover .close {
  display: none;
}

.submenu :hover .open {
  display: flex;
}

.logo {
  position: absolute;
  z-index: -3;
  display: flex;
  width: 100vw;
  height: 5.12vw;
  justify-content: center;
}

.head {
  display: grid;
  grid-auto-flow: column;
  align-items: center;
  margin-top: 2.56vw;
  grid-gap: 25%;
}

.nowrap {
  white-space: nowrap;
}

.menu_nav {
  display: grid;
  grid-auto-flow: column;
  grid-gap: 5%;
}
.href_nav {
  font-family: "Alumni Sans";
  font-size: 1.46vw;
  font-weight: 400;
  line-height: 1.76vw;
  letter-spacing: 0em;
  text-decoration: none;
  color: #000;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.href_nav:hover {
  text-decoration: underline;
}

ul {
  list-style: none;
}

.topmenu a {
  color: #000;
  text-decoration: none;
  display: block;
  transition: 0.4s ease-in-out;
}

.submenu li button,
.submenu_cruise li button,
.submenu_bort li button {
  font-family: "Alumni Sans";
  font-size: 1.02vw;
  font-weight: 400;
  line-height: 1.24vw;
  letter-spacing: 0em;
  padding-left: 20px;
  border: none;
  background: none;
  color: inherit;
  cursor: pointer;
  display: flex;
  justify-content: left;
}
.submenu.flot {
  width: 338%;
  height: 4.71vw;
}

ul.submenu.flot li ul.second_text {
  height: 8.78vw;
}

.submenu li button:hover,
.submenu_cruise li button:hover,
.submenu_bort li button:hover {
  background-color: #f06500;
}

.submenu li .tarif:hover,
.submenu_cruise li .tarif:hover,
.submenu_bort li .tarif:hover {
  background-color: #f06500;
  border-bottom-left-radius: 60px;
}

.topmenu {
  width: 100%;
  display: flex;
  justify-content: center;
}
.topmenu > li {
  position: relative;
}

.submenu,
.submenu_cruise,
.submenu_bort {
  position: absolute;
  width: 130%;
  background: linear-gradient(#fdd7a400, #fee7b5);
  border-bottom-right-radius: 35px;
  border-bottom-left-radius: 35px;
  z-index: 5;
  visibility: hidden;
  opacity: 0;
  transform: scale(0.8);
  transition: 0.4s ease-in-out;
  padding: 0;
  height: 11.71vw;
}
.topmenu > li:hover .submenu,
.topmenu > li:hover .submenu_cruise,
.topmenu > li:hover .submenu_bort {
  visibility: visible;
  opacity: 1;
  transform: scale(1);
}

.submenu_cruise {
  width: 400%;
  height: 8.93vw;
}

.submenu_bort {
  width: 350%;
  height: 11.79vw;
}

.second_text.one {
  height: 2.08vw;
}

.second_text {
  position: absolute;
  width: 130%;
  background: #ffffff;
  border-bottom-right-radius: 35px;
  z-index: 5;
  visibility: hidden;
  opacity: 0;
  transform: scale(0.8);
  transition: 0.4s ease-in-out;
  padding: 0;
  height: 5.78vw;
  margin-left: 100%;
  margin-top: -18%;
}

.submenu > li:hover .second_text {
  visibility: visible;
  opacity: 1;
  transform: scale(1);
}

.search_contacts_grid {
  display: grid;
  grid-auto-flow: column;
  align-items: center;
  grid-gap: 15%;
  margin-right: 6%;
  justify-content: end;
}

.search_input {
  margin: auto;
  background: url(../../img/iconSearch.svg);
  border: 1px solid #000;
  outline: none;
  background-position: 4px center;
  padding-left: 31px;
  background-repeat: no-repeat;
  font-size: 18px;
  border-radius: 35px;
  color: #000;
  font-family: "Alumni Sans";
  font-size: 1.17vw;
  font-weight: 400;
  line-height: 1.39vw;
  letter-spacing: 0em;
  text-align: left;
}

#searchForm {
  width: 12vw;
  height: 2.49vw;
}

.tel_nav {
  font-family: "Alumni Sans";
  font-size: 1.46vw;
  font-weight: 400;
  line-height: 1.76vw;
  letter-spacing: 0em;
  text-align: left;
  text-decoration-line: underline;
}

.time {
  font-family: Alumni Sans;
  font-size: 0.88vw;
  font-weight: 400;
  line-height: 1.02vw;
  letter-spacing: 0em;
}

h1 {
  font-family: "Alumni Sans";
  font-size: 5.88vw;
  font-weight: 600;
  line-height: 7.06vw;
  letter-spacing: 0.01em;
  text-align: center;
  color: #ffffff;
  margin-top: 4.71vw;
}

.text {
  display: flex;
  margin-top: 14.41vw;
  flex-direction: column;
  width: 72.94vw;
  gap: 1vw;
  margin-left: 16.03vw;
  font-family: "Alumni Sans";
  font-size: 1.47vw;
  font-weight: 400;
  line-height: 1.9vw;
  letter-spacing: 0.01em;
}

.name_informatoin_first {
  margin-top: 3.6vw;
}

.name_informatoin,
.name_informatoin_first {
  font-family: "Alumni Sans";
  font-size: 2.21vw;
  font-weight: 600;
  line-height: 2.21vw;
  letter-spacing: 0.01em;
  width: 20.66vw;
  margin-left: 2.13vw;
}

.button-footer:hover {
  border: 2px solid #f06500;
}

.vert_line_first {
  margin-top: 3.6vw;
}

.vert_line_first,
.vert_line,
.vert_line_price {
  border-left: 0.15vw solid #f06500;
  padding-left: 1.18vw;
  height: 1.1vw;
  display: flex;
  align-items: center;
}

.vert_line_price {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  height: 2.72vw;
}

table {
  text-align: left;
  border-collapse: collapse;
}

tr.price {
  height: 3.02vw;
}

tr {
  height: 6.62vw;
}

td.border_none {
  border-top: 0px solid #ffffff;
  border-left: 0px solid #ffffff;
  border-right: 0px solid #ffffff;
}

td.left {
  border-right: 0px solid #ffffff;
}

td.border_none_last {
  border-bottom: 0px solid #ffffff;
  border-left: 0px solid #ffffff;
  border-right: 0px solid #ffffff;
}

.expl_information {
  font-family: "Alumni Sans";
  font-size: 1.84vw;
  font-weight: 500;
  line-height: 1.62vw;
  letter-spacing: 0.01em;
}

.expl_information.days {
  font-size: 2.21vw;
  line-height: 1.84vw;
}

.second_text_expl {
  font-family: "Alumni Sans";
  font-size: 1.18vw;
  font-weight: 400;
  line-height: 1.47vw;
  letter-spacing: 0.01em;
}

.second_text_expl.days {
  line-height: 1.84vw;
  font-size: 1.84vw;
}

.table_wrapper {
  border: 1px solid #000;
  height: 41.76vw;
  width: 66.47vw;
  margin: 3.9vw 0 0 16.25vw;
  border-top-left-radius: 5.21vw;
  border-bottom-left-radius: 5.21vw;
  border-right: 1px solid #ffffff;
}

.country {
  font-family: "Alumni Sans";
  font-size: 1.47vw;
  font-weight: 400;
  line-height: 2.94vw;
  letter-spacing: 0.01em;
}

.vert_line.country {
  height: 9.04vw;
  flex-wrap: wrap;
}

.arrow-next {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  max-width: 100%;
}

.arrow-next .line {
  min-width: 4.04vw;
  box-sizing: border-box;
}

.arrow-next .line hr {
  margin-left: 0.31vw;
  border: 0;
  border-top: 0.15vw solid #098572;
}

.arrow-next .arrow {
  position: relative;
  /* top: -5px; */
  content: "";
  display: inline-block;
  width: 0.52vw;
  height: 0.52vw;
  border-right: 0.15vw solid #098572;
  border-top: 0.15vw solid #098572;
  transform: rotate(45deg);
  margin-right: 0.31vw;
  margin-left: -0.63vw;
}

td.button_td button {
  margin-top: -3.6vw;
  width: 20.66vw;
  height: 3.53vw;
  margin-left: 24.5vw;
  border-top-left-radius: 35px;
  border-top-right-radius: 35px;
  border-bottom-left-radius: 35px;
  border-bottom-right-radius: 35px;
  font-family: Alumni Sans;
  font-size: 2.57vw;
  font-weight: 700;
  line-height: 3.09vw;
  letter-spacing: 0em;
  color: #fff;
  background-color: #f06500;
  border: 2px solid #f06500;
  cursor: pointer;
  position: absolute;
  z-index: 10;
}

.recommendations {
  margin-top: 8.46vw;
  margin-bottom: 12.43vw;
}

.fa-map-marker {
  font-size: 2.57vw;
  color: #098572;
}

.fa-map-marker.genoa.color,
.fa-map-marker.naples.color,
.fa-map-marker.messina.color,
.fa-map-marker.valletta.color,
.fa-map-marker.sea.color,
.fa-map-marker.barcelona.color,
.fa-map-marker.marcel.color,
.fa-map-marker.return.color {
  color: #f06500;
}

.day_1.genoa.color,
.day_2.naples.color,
.day_3.messina.color,
.day_4.valletta.color,
.day_5.sea.color,
.day_6.barcelona.color,
.day_7.marcel.color,
.day_8.return.color {
  color: #f06500;
}

.marker {
  display: flex;
}

.day_1 {
  margin-top: 4.1vw;
  margin-left: 5.88vw;
}

.day_2 {
  margin-top: 6vw;
  margin-left: 8.66vw;
}

.day_3 {
  margin-top: 9.5vw;
  margin-left: 8.59vw;
}

.day_4 {
  margin-top: 13.6vw;
  margin-left: 7.56vw;
}

.day_5 {
  margin-top: 16.3vw;
  margin-left: 8.59vw;
}

.day_6 {
  margin-left: 8.59vw;
  margin-top: 17vw;
}

.day_7 {
  margin-top: 15vw;
  margin-left: 9.91vw;
}

.day_8 {
  margin-left: 8.47vw;
  margin-top: 10.4vw;
}

.text_about_cruis {
  width: 44.22vw;
  padding: 0.74vw 1.32vw;
}

.text_about_cruis.close,
.button_left.close,
.button_right.close {
  display: none;
}

.text_with_button {
  display: flex;
  margin-left: 38.24vw;
  margin-top: 0.18vw;
  align-items: center;
}

.button_left,
.button_right {
  width: 6.4vw;
  height: 30.6vw;
  background: none;
  border: none;
  font-weight: 600;
  font-size: 2.2vw;
  line-height: 2.64vw;
}

button.button_left:hover,
.button_right:hover {
  background-color: #d4d4d466;
}

.name_city {
  font-family: "Alumni Sans";
  font-size: 2.2vw;
  font-weight: 600;
  line-height: 2.64vw;
  letter-spacing: 0.01em;
}

.about_cruis {
  font-family: "Alumni Sans";
  font-size: 1.47vw;
  font-weight: 400;
  line-height: 1.84vw;
  letter-spacing: 0.01em;
  text-align: left;
}

.what_to_see {
  font-family: Alumni Sans;
  font-size: 1.47vw;
  font-weight: 600;
  line-height: 1.84vw;
  letter-spacing: 0.01em;
}

.number {
  font-family: "Alumni Sans";
  font-size: 2.57vw;
  font-weight: 500;
  line-height: 1.84vw;
  letter-spacing: 0.01em;
}

.day {
  font-family: "Alumni Sans";
  font-size: 1.47vw;
  font-weight: 500;
  line-height: 1.84vw;
  letter-spacing: 0.01em;
  text-align: left;
}

.name_day {
  display: flex;
  align-items: baseline;
}

.wave_ship {
  position: absolute;
  width: 41.84vw;
  height: 53.97vw;
  margin-left: 58.1vw;
  margin-top: 4.78vw;
}

.wave_cruise {
  position: absolute;
  width: 100vw;
  height: 22.6vw;
  z-index: -5;
}

.bottom_cruise {
  width: 38.51vw;
  margin-top: -9.73vw;
  height: 39.88vw;
  position: absolute;
}

.bottom_cruise.close {
  display: none;
}

.rotate_arrow,
.rotate_arrow_close,
.arrow_more {
  font-family: "Alumni Sans";
  font-size: 2.83vw;
  font-weight: 400;
  line-height: 1.2vw;
  letter-spacing: 0.01em;
  transform: rotate(90deg);
  cursor: pointer;
}

.rotate_arrow_close {
  transform: rotate(270deg);
  margin-left: 1vw;
}

.rotate_arrow:hover,
.button_action:hover .rotate_arrow,
.rotate_arrow.color,
.rotate_arrow_close:hover,
.arrow_more:hover {
  color: #f06500;
}

h2 {
  font-family: "Alumni Sans";
  font-size: 4.41vw;
  font-weight: 600;
  line-height: 5.29vw;
  letter-spacing: 0.01em;
  margin-top: 7.35vw;
  margin-left: 11.62vw;
}

.from_what,
.around {
  display: flex;
  align-items: center;
  height: 9.37vw;
  width: 55.27vw;
  border: 1px solid #000;
  border-radius: 40px;
  margin-left: 22.11vw;
  justify-content: space-around;
}

.around {
  margin-top: -1.98vw;
}

div .begin img,
div .journey img,
div .how_choose img {
  width: 2.93vw;
  height: 2.93vw;
  margin-left: 2.93vw;
}

div .yacht img {
  width: 4.25vw;
  height: 4.25vw;
}

.begin,
.journey,
.yacht,
.how_choose {
  display: flex;
  align-items: center;
  font-family: Alumni Sans;
  font-size: 2.2vw;
  font-weight: 600;
  line-height: 2.64vw;
  letter-spacing: 0.01em;
  gap: 1.1vw;
}

div.from_what a,
div.around a {
  text-decoration: none;
  color: #000;
}

section.close_questions p.rotate_arrow {
  margin-right: 3.49vw;
}

.recommendations h3 {
  text-align: center;
  font-family: "Alumni Sans";
  font-size: 4.39vw;
  font-weight: 600;
  line-height: 5.27vw;
  letter-spacing: 0.01em;
  margin-bottom: 3.51vw;
}

.wave_bottom {
  position: absolute;
  z-index: -5;
  width: 52.86vw;
  height: 115.67vw;
  margin-top: 16.47vw;
}

footer {
  background-image: url(../../img/footer.png);
  background-repeat: no-repeat;
  background-size: cover;
  height: 27.53vw;
  font-family: "Alumni Sans";
  font-weight: 400;
  color: #fff;
  letter-spacing: 0em;
}

.footer {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.img_city {
  display: flex;
  flex-direction: column;
  gap: 16.4vw;
}

div.img_city img {
  width: 3.51vw;
  margin-top: 3.59vw;
  height: 4.03vw;
}

.name_footer {
  font-size: 1.46vw;
  line-height: 1.76vw;
  margin-bottom: 0.73vw;
  margin-top: 3.29vw;
}

.cruises,
.flot,
.placment {
  display: flex;
  flex-direction: column;
  font-size: 1.02vw;
  line-height: 1.24vw;
}

div.cruises a,
div.flot a,
div.placment a {
  text-decoration: none;
  color: #fff;
  padding: 0.2vw 0px;
}

.dropdown-first {
  display: flex;
  flex-direction: column;
}

.submenu_cruise.premium {
  width: 200%;
  height: 4.93vw;
}

.dropdown-content,
.dropdown-content-second,
.dropdown-content-third,
.dropdown-content-fourth,
.dropdown-content-fifth,
.dropdown-content-six,
.dropdown-content-flot {
  margin-top: -1.25vw;
  display: none;
  position: absolute;
  background: #ffffff99;
  z-index: 1;
  margin-left: 6.1vw;
  border-bottom-right-radius: 20px;
  width: 6.76vw;
  padding: 0 0.51vw;
}

.dropdown-content-flot {
  margin-top: -1.6vw;
  margin-left: 5.2vw;
  width: 5.5vw;
}

.dropdown-content {
  margin-top: 0;
}

div.dropdown-content a,
div.dropdown-content-third a,
div.dropdown-content-fourth a,
div.dropdown-content-fifth a,
div.dropdown-content-six a,
div.dropdown-content-second a,
div.dropdown-content-flot a {
  color: #000;
}

footer a:hover {
  background-color: #ffffff59;
}

div.dropdown-first:hover .dropdown-content,
div.dropdown-third:hover .dropdown-content-third,
div.dropdown-fourth:hover .dropdown-content-fourth,
div.dropdown-fifth:hover .dropdown-content-fifth,
div.dropdown-six:hover .dropdown-content-six,
div.dropdown-second:hover .dropdown-content-second,
div.dropdown-flot:hover .dropdown-content-flot {
  display: flex;
  flex-direction: column;
}

.footer-time {
  position: absolute;
  margin-top: -8.82vw;
  margin-left: 80.5vw;
}

.button-footer {
  border-top-left-radius: 35px;
  border-top-right-radius: 35px;
  border-bottom-left-radius: 35px;
  border-bottom-right-radius: 35px;
  width: 18.24vw;
  height: 4.04vw;
  font-family: Alumni Sans;
  font-size: 2.28vw;
  font-weight: 600;
  line-height: 2.72vw;
  letter-spacing: 0em;
  border: 2px solid #ffffff;
  background: none;
  cursor: pointer;
  color: #fff;
}

.inst_logo_footer,
.telegram_logo_footer,
.youTube_logo_footer {
  width: 1.54vw;
  height: 1.54vw;
}

.cont_img_article_footer {
  display: grid;
  grid-auto-flow: row;
}

.contacts_menu_footer,
.tel_time_footer {
  display: grid;
  align-items: center;
}

.contacts_menu_footer {
  grid-auto-flow: column;
  justify-content: end;
  gap: 1.76vw;
  margin-top: 1.4vw;
}

.application_window_end {
  display: none;
  backdrop-filter: blur(5px);
  width: 100vw;
  height: 112vh;
  z-index: 100;
  position: absolute;
}

.application_window_end {
  margin-top: -57.29vw;
  height: 130vh;
}

.application_window_end.open {
  display: block;
}

div.application_window_end div.form {
  margin-left: 0;
}

.form_flex {
  display: flex;
  justify-content: center;
}

.form {
  border-radius: 25px;
  background-image: url(../../img/form-back.png);
  background-position-x: -9.52vw;
  background-size: cover;
  background-repeat: no-repeat;
  width: 51.54vw;
  height: 38.07vw;
  margin-left: 24.23vw;
  margin-top: 14.57vw;
  position: absolute;
  text-align: center;
}

.form h3 {
  margin-top: 2.56vw;
}

.form h3 {
  font-family: Alumni Sans;
  font-size: 2.2vw;
  font-weight: 600;
  line-height: 2.64vw;
  letter-spacing: 0.01em;
  color: #ffffff;
}

.form p {
  margin-top: 0.73vw;
}

.form p {
  font-family: "Alumni Sans";
  font-size: 1.17vw;
  font-weight: 400;
  line-height: 1.24vw;
  letter-spacing: 0.01em;
  color: #ffffff;
}

.name_and_form {
  display: flex;
  flex-direction: column;
  width: 29.28vw;
  margin-left: 9.81vw;
  grid-gap: 1.24vw;
  margin-top: 1.32vw;
}

.name_and_form input {
  height: 1.47vw;
}

.textArea,
.name_and_form input {
  font-family: "Alumni Sans";
  font-size: 1.17vw;
  font-weight: 400;
  line-height: 1.39vw;
  letter-spacing: 0.01em;
  padding: 1.02vw 1.39vw;
  background: #ffffff73;
}

input::placeholder,
textarea::placeholder {
  color: #797979;
}

.name_and_form input,
.textArea {
  border: none;
  border-radius: 10px;
}

.textArea {
  height: 7.18vw;
}

.form-control {
  font-family: Alumni Sans;
  font-size: 1.02vw;
  font-weight: 300;
  line-height: 1.24vw;
  letter-spacing: 0em;
  color: #ffffff;
  display: flex;
}

:root {
  --form-control-color: #ffff;
}

.radio {
  margin-left: -4vw;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: center;
  gap: 1.02vw;
}

.radio input[type="radio"] {
  margin-right: 0.44vw;
}

*:before,
*:after {
  box-sizing: border-box;
}

.form-control + .form-control {
  margin-top: 1em;
}

input[type="radio"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-color: var(--form-background);
  margin: 0;
  font: inherit;
  color: currentColor;
  width: 1.15em;
  height: 1.15em;
  border: 0.15em solid currentColor;
  border-radius: 50%;
  transform: translateY(-0.08em);
  display: grid;
  place-content: center;
}

input[type="radio"]::before {
  content: "";
  width: 0.65em;
  height: 0.65em;
  border-radius: 50%;
  transform: scale(0);
  transition: 120ms transform ease-in-out;
  box-shadow: inset 1em 1em var(--form-control-color);
  background-color: CanvasText;
}

input[type="radio"]:checked::before {
  transform: scale(1);
}

.send_forms {
  color: #ffffff;
  border-top-left-radius: 40px;
  border-top-right-radius: 40px;
  border-bottom-left-radius: 40px;
  border-bottom-right-radius: 40px;
  background: none;
  font-family: "Alumni Sans";
  cursor: pointer;
  letter-spacing: 0em;
  font-weight: 600;
}

.send_forms:hover {
  border: 1px solid #f06500;
}

.send_forms {
  border: 0.07vw solid #ffffff;
  padding: 0.59vw 3.59vw;
  font-size: 1.46vw;
  line-height: 1.76vw;
  margin-top: 1.24vw;
}

::-webkit-input-placeholder {
  color: #000;
}

::-moz-placeholder {
  color: #000;
}

:-ms-input-placeholder {
  color: #000;
}

:-moz-placeholder {
  color: #000;
}

::-webkit-scrollbar {
  width: 0;
}
